<section id="anchor_date" class="bg-white">
    <h5 class="text-purple p-1  text-center ">
        Date de déploiement
    </h5>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <article class="info-box bg-light mt-3">
                    <div class="info-box-content">
                        <span class="info-box-text text-center text-muted">Du</span>
                        <span class="info-box-number text-center mb-0">
                                {% if action.regionstartat %}
                                    {{ action.regionstartat | date('d/m/Y') }}
                                {% else %}
                                    --/--/----
                                {% endif %}
                            </span>
                    </div>
                </article>
            </div>

            <div class="col-12">
                <article class="info-box  bg-light ">
                    <div class="info-box-content">
                        <span class="info-box-text text-center text-muted">Au</span>
                        <span class="info-box-number text-center mb-0">
                                {% if action.regionendat %}
                                    {{ action.regionendat | date('d/m/Y') }}
                                {% else %}
                                    --/--/----
                                {% endif %}
                            </span>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>