<section>
    <div class=" ml-3 mr-3">
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-text text-center text-muted"><small>Expérimentation</small></span>
                <span class="info-box-number text-center   mb-0">
                        {% if action.experimental %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                     </span>
            </div>
        </div>
    </div>
</section>
