<div id="anchor_name" class="jumbotron col-12 text-center text-purple">
    <h3>
        <i class="fas fa-bolt"></i> {{ action.category.thematique.ref }}-{{ action.category.ref }}-{{ action.fullname }}
    </h3>
</div>
