<section id="anchor_date" >
    <div class=" ml-3 mr-3">
        <div class="info-box bg-light  ">
            <div class="info-box-content">
                <span class="info-box-text text-center text-muted">Taux</span>
                <span class="info-box-number text-center  text-lg mb-0">
                    {{ include('share/_taux_progress_bar_label.html.twig', {'taux1': action.taux1,'taux2': action.taux2,'info':false }) }}
                </span>
            </div>
        </div>
    </div>
</section>
