    <a href="{{ path('thematique_show', {'id': thematique.id}) }}"  class="btn btn-info m-1">

        {% if thematique.enable == false   %}
            <span class="text-danger" ><i class="fas fa-eye-slash"></i></span>
        {%  endif %}

        {{ thematique.name }}

    </a>
