{% extends './mail/template.html.twig' %}

{% block title %} Action abandonnée {% endblock %}
{% block title_content %} Action abandonnée {% endblock %}

{% block body %}
    <p>Une action dont vous êtes le pilote est abandonnée.</p>
    <p>
        {{ include('mail/_view/_action.html.twig') }}
    </p>
{% endblock %}

