{% extends './mail/template.html.twig' %}

{% block title %} Action envoyée au COTECH {% endblock %}
{% block title_content %} Action envoyée au COTECH {% endblock %}

{% block body %}
    <p>Une action dont vous êtes le valideur est envoyée pour validation au COTECH.</p>
    <p>
        {{ include('mail/_view/_action.html.twig') }}
    </p>
{% endblock %}
