{% extends './mail/template.html.twig' %}

{% block title %} Déploiement déployé {% endblock %}
{% block title_content %} Déploiement déployé {% endblock %}

{% block body %}
    <p>L'action ci-dessous est déployée. Merci de compléter les indicateurs associés à votre organisme.</p>
    <p>
        {{ include('mail/_view/_deployement.html.twig') }}
    </p>
{% endblock %}
