{% extends './mail/template.html.twig' %}

{% block title %} Action à mesurer{% endblock %}
{% block title_content %} Action à mesurer {% endblock %}

{% block body %}
    <p>Une action dont vous êtes le pilote est au niveau de la mesure d'efficacité.</p>
    <p>
        {{ include('mail/_view/_action.html.twig') }}
    </p>
{% endblock %}
