{% extends './mail/template.html.twig' %}

{% block title %} Action réouverte{% endblock %}
{% block title_content %} Action réouverte {% endblock %}

{% block body %}
    <p>Une action dont vous êtes le pilote est réouverte.</p>
    <p>
        {{ include('mail/_view/_action.html.twig') }}
    </p>
{% endblock %}
