<table class="table table-borderless">
    <tr>
        <th >Sélection</th>
        <td class=" text-center font-weight-bold text-primary">
            {{ indicatorvalue.value }}
        </td>
        <td class="align-middle">
            {{ indicatorvalue.content | raw }}
        </td>
    </tr>
</table>