<table class="table table-borderless">
    <tr>
        <th class="col-1">Sélection</th>
        <td class="col-1 text-center font-weight-bold text-primary">
            {{ indicatorvalue.value }}
        </td>
        <td class="align-middle">
            {{ indicatorvalue.content | raw }}
        </td>
    </tr>
</table>