<table class="table table-borderless">
    <tr>
        <th >Réalisé</th>
        <td class=" text-center font-weight-bold text-primary">
            {{ indicatorvalue.taux1 }}
        </td>
        <td rowspan="2" class="align-middle">
            {{ indicatorvalue.content | raw }}
        </td>
    </tr>
</table>