<table class="table table-borderless">
    <tr>
        <th>Réalisé</th>
        <td class="text-center font-weight-bold text-primary">
            {{ indicatorvalue.value }}
        </td>
        <td rowspan="2" class="align-middle">
            {{ indicatorvalue.content | raw }}
        </td>
    </tr>
    <tr>
        <th >Objectif</th>
        <td class="text-center font-weight-bold text-primary">
            {{ indicatorvalue.goal }}
        </td>
    </tr>
</table>