
<section class="bg-white"   >

    <div class="card-body">
        <div class="form-group row">
            <div class="col mt-1">
                {{ form_row(form.experimental) }}
            </div>
        </div>
    </div>
</section>