<h3 id="anchor_info_part" class="text-purple pt-5">
    <small><i class="fas fa-info-circle"></i></small>  Informations complémentaires
</h3>
<section  class="p-3 col-12">
        {{ form_widget(form.content) }}
</section>
