<article class="bg-white ">
    <h5 class="text-purple p-1 pt-3 text-center ">
        Jalon
    </h5>
    <div class="card-body">
        <div class="form-group row" data-toggle="tooltip" data-html="true"
             title="A la date du <em>jalon</em> une notification par mail sera envoyé.<br/> Les jalons en retard sont affichés sur la page d'accueil">
            {{ form_widget(form.showat) }}
        </div>
    </div>
</article>