<article class="bg-white ">
    <h5 class="text-purple p-1  text-center ">
        Vecteurs
    </h5>
    <div class="card-body">
        <div class="form-group row">
            {{ form_widget(form.vecteurs) }}
        </div>
    </div>
</article>