
<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center dropleft">
    <a href="{{ path('deployement_edit', {'id': deployement.id}) }}">
        {{ deployement.organisme.name }}
    </a>
</div>
