{% if action.showAt %}
    {% set difference = date("today").diff(date(action.showAt)) %}
    {% set leftDays = difference.days %}
    {% if date("today") > date(action.showAt) and leftDays > 0 %}
       <span class="text-danger font-weight-bold"> -{{ leftDays }} jours </span>
    {% elseif leftDays ==0 %}
        <span class="text-warning font-weight-bold"> Aujourd'hui </span>
    {% elseif leftDays ==1 %}
        <span class="text-warning font-weight-bold"> Demain </span>
    {% elseif leftDays <8 %}
        <span class="text-warning font-weight-bold"> {{ leftDays }} jours </span>
    {% else %}
        <span class="text-success"> {{ leftDays }} jours </span>
    {% endif %}
    <br/>
    <small class="text-muted">
        {{ action.showAt | date('d/m/Y') }}
    </small>
{% else %}
    --/--/----
{% endif %}