<div class="card bg-light">
    <div class="card-header text-muted border-bottom-0">
        {% if action | actionCanRead %}
            <a href="{{ path('action_show', {'id': action.id}) }}">
                {{ action.fullname }}
            </a>
        {% else %}
            {{ action.fullname }}
        {% endif %}
    </div>
    <div class="card-body pt-0">

    </div>
    <div class="card-footer">
        <div class="text-right">

        </div>
    </div>
</div>



