<div class=" pb-5 mr-3" style="width:250px;">
    <a href="{{ path(url) }}/{{ state }}">
        <div class="text-center">
            <br/>
            <span id="badge_{{ state }}" class="badge badge-light text-center text-md mb-0">
                <i id="overlay_{{ state }}" class=" d-none fas  fa-sync-alt"></i>
            </span>
        </div>

    </a>
</div>
