<!-- Intervenants -->
<section id="anchor_intervenant" class="bg-white">
    <h5 class="text-purple p-1  text-center ">
        Intervenants
    </h5>
    <div class="card-body">
        <div class="form-group row">
            <label for="{{ form.writers.vars.id }}">
                Pilote
            </label>
            {{ form_widget(form.writers) }}
        </div>
    </div>
</section>