{% extends './mail/template.html.twig' %}

{% block title %} Jalon pour les déploiements {% endblock %}
{% block title_content %} Jalon pour les déploiements {% endblock %}

{% block body %}
    <p>Voici la liste des déploiements dont le jalon est positionné à aujourd'hui.</p>
    {% for deployement in deployements %}
        {{ include('mail/_view/_deployement.html.twig') }}
    {% endfor %}
{% endblock %}
